name: Go tests and deploy

on:
  push:
    branches: [ main, master ]
    tags: [ '*' ]
  pull_request:
    branches: [ main, master ]

jobs:

  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: '1.22.0'
        cache: false

    - name: Install SQLite
      run: sudo apt-get update && sudo apt-get install -y sqlite3

    - name: Build
      run: go build -v ./...

    - name: Tests
      run: go test -v ./...

    - name: Test-race
      run: go test -race -v ./...

    - uses: golangci/golangci-lint-action@v3
      with:
        skip-cache: true
        skip-pkg-cache: true
        skip-build-cache: true
        args: --timeout=5m

    - name: Vet
      run: go vet ./...

  deploy:
    name: Build and push Docker Image
    runs-on: ubuntu-latest
    needs: test-and-lint
    if: startsWith(github.ref, 'refs/tags/')
    
    steps:
    - name: Debug info
      run: |
        echo "Deploying tag: ${{ github.ref }}"
        echo "Event name: ${{ github.event_name }}"
    
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Важно для получения тегов

    - name: Set up Docker buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5.5.1
      with:
        images: vgdryukov/sprint11-itog
        tags: |
          type=semver,pattern={{version}}
          type=raw,value=latest

    - name: Build and push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}